<style>
    @import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100..800&display=swap');
    @import url('https://db.onlinewebfonts.com/c/182414135ae67bc66f6425f95c0bc2ec?family=ae_AlMothnna+Bold');

    @font-face {
        font-family: "ae_AlMothnna Bold";
        src: url("https://db.onlinewebfonts.com/t/182414135ae67bc66f6425f95c0bc2ec.eot");
        src: url("https://db.onlinewebfonts.com/t/182414135ae67bc66f6425f95c0bc2ec.eot?#iefix") format("embedded-opentype"),
            url("https://db.onlinewebfonts.com/t/182414135ae67bc66f6425f95c0bc2ec.woff2") format("woff2"),
            url("https://db.onlinewebfonts.com/t/182414135ae67bc66f6425f95c0bc2ec.woff") format("woff"),
            url("https://db.onlinewebfonts.com/t/182414135ae67bc66f6425f95c0bc2ec.ttf") format("truetype"),
            url("https://db.onlinewebfonts.com/t/182414135ae67bc66f6425f95c0bc2ec.svg#ae_AlMothnna Bold") format("svg");
    }

    * {
        padding: 0;
        margin: 0;
        font-family: "Anek Malayalam", sans-serif;
    }

    .container {
        max-width: 1140px;
        margin: auto;
        width: 90%;
    }

    .btn {
        border: none;
        outline: none;
        padding: 8px 32px;
        font-size: 14px;
        border-radius: 32px;
        color: #4f4b3c;
        background: #aca38e;
        transition: all ease 0.4s;
        text-decoration: none;
        display: inline-block;
        text-align: center;
    }

    .btn:hover {
        background-color: #4f4b3c;
        color: #aca38e;
    }

    .main {
        background-size: cover;
        min-height: 100vh;
        height: auto;
        width: 100%;
        background: #80765a;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .main-wrapper {
        position: relative;
        margin-top: 80px;
        border-radius: 40px;
        background: linear-gradient(90deg, rgba(28, 25, 15, 1) 0%, rgba(54, 46, 22, 1) 100%);
        padding: 50px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .stform h2 {
        color: #fff;
        margin-bottom: 20px;
        font-family: "ae_AlMothnna Bold";
    }

    .stform input[type="search"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        box-sizing: border-box;
        border: 2px solid #aca38e;
        border-radius: 4px;
    }

    .stform input[type="submit"] {
        padding: 10px 20px;
        background-color: #aca38e;
        border: none;
        color: #4f4b3c;
        border-radius: 4px;
        cursor: pointer;
        transition: all ease 0.4s;
    }

    .stform input[type="submit"]:hover {
        background-color: #4f4b3c;
        color: #aca38e;
    }

    .buttons {
        margin-top: 20px;
    }

    @media only screen and (max-width: 992px) {
        .main-wrapper {
            margin-top: 30px;
            padding: 20px;
        }

        .stform input[type="search"] {
            padding: 8px;
        }

        .stform input[type="submit"] {
            padding: 8px 16px;
        }

        .btn {
            padding: 6px 16px;
        }
    }

    @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;700&display=swap');

    .program-surah-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

    .program-surah-box p.sub,
    .program-surah-box p.turn {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: #544b30;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        max-width: 100%;
        font-family: 'Tajawal', sans-serif;
        /* Apply the Arabic font */
    }

    .program-surah-box span {
        font-size: 16px;
        font-weight: bold;
        color: #aca38e;
        margin-bottom: 5px;
        font-family: 'Tajawal', sans-serif;
        /* Apply the Arabic font */
    }
</style>

<div class="main">
    <div class="main-wrapper">
        <form class="stform" action="/admin/st" method="post">
            <h2>ST NUMBER</h2>
            <input type="search" placeholder="ST number" id="search" name="userId">
            <input type="submit" value="search">
            <div class="buttons">
                <a href="/candidates" class="btn">All Candidates</a>
            </div>
        </form>
    </div>
</div>