<section>
    <div class="container">
        <form action="/form" method="post">
            <div class="form-group">
                <label for="formRadio1">Select One: </label>
                <div class="form-check form-check-inline">
                    <label>
                        <input class="form-check-input d-none" type="radio" name="formRadio" id="formRadio1" value="">
                        <img src="/images/lock-icon-29052.png"
                            class="form-check-label" alt="First image">
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label>
                        <input class="form-check-input d-none" type="radio" name="formRadio" id="formRadio1" value="">
                        <img src="/images/lock-icon-29052.png"
                            class="form-check-label" alt="First image">
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label>
                        <input class="form-check-input d-none" type="radio" name="formRadio" id="formRadio1" value="">
                        <img src="/images/lock-icon-29052.png"
                            class="form-check-label" alt="First image">
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label>
                        <input class="form-check-input d-none" type="radio" name="formRadio" id="formRadio1" value="">
                        <img src="/images/lock-icon-29052.png"
                            class="form-check-label" alt="First image">
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label>
                        <input class="form-check-input d-none" type="radio" name="formRadio" id="formRadio1" value="">
                        <img src="/images/lock-icon-29052.png"
                            class="form-check-label" alt="First image">
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label>
                        <input class="form-check-input d-none" type="radio" name="formRadio" id="formRadio1" value="">
                        <img src="/images/lock-icon-29052.png"
                            class="form-check-label" alt="First image">
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label>
                        <input class="form-check-input d-none" type="radio" name="formRadio" id="formRadio1" value="">
                        <img src="/images/lock-icon-29052.png"
                            class="form-check-label" alt="First image">
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label>
                        <input class="form-check-input d-none" type="radio" name="formRadio" id="formRadio1" value="">
                        <img src="/images/lock-icon-29052.png"
                            class="form-check-label" alt="First image">
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label>
                        <input class="form-check-input d-none" type="radio" name="formRadio" id="formRadio1" value="">
                        <img src="/images/lock-icon-29052.png"
                            class="form-check-label" alt="First image">
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label>
                        <input class="form-check-input d-none" type="radio" name="formRadio" id="formRadio1" value="">
                        <img src="/images/lock-icon-29052.png"
                            class="form-check-label" alt="First image">
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label>
                        <input class="form-check-input d-none" type="radio" name="formRadio" id="formRadio1" value="">
                        <img src="/images/lock-icon-29052.png"
                            class="form-check-label" alt="First image">
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label>
                        <input class="form-check-input d-none" type="radio" name="formRadio" id="formRadio1" value="">
                        <img src="/images/lock-icon-29052.png"
                            class="form-check-label" alt="First image">
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label>
                        <input class="form-check-input d-none" type="radio" name="formRadio" id="formRadio1" value="">
                        <img src="/images/lock-icon-29052.png"
                            class="form-check-label" alt="First image">
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label>
                        <input class="form-check-input d-none" type="radio" name="formRadio" id="formRadio1" value="">
                        <img src="/images/lock-icon-29052.png"
                            class="form-check-label" alt="First image">
                    </label>
                </div>
                <input type="submit" value="Submit">
            </div>
        </form>
        <style>
            .form-check-label {
                width: 50px;
            }

            .form-check-input:checked+.form-check-label {
                filter: grayscale(100%);
            }

            .form-check-input:checked + .form-check-label {
  background: lightgray;
}
        </style>
    </div>
</section>