<a href="/login">
    <h1>login</h1>
</a>

<a href="/form">
    <h3>form</h3>
</a>

{{#if loginErr}}
<p id="hideMe">{{loginErr}}</p>
{{/if}}

{{#if subject}}
<h2>Your subject is: {{subject.Program}}</h2>
{{/if}}

<script>
    function hideParagraph() {
        var paragraph = document.getElementById("hideMe");
        paragraph.style.display = "none";
    }

    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(hideParagraph, 5000);
    });
</script>