<!-- index.hbs -->
<a href="/login" class="btn btn-primary btn-lg">
    <h3>Login</h3>
</a>

<a href="/form" class="btn btn-info btn-lg">
    <h3>Form</h3>
</a>

{{#if loginErr}}
<div id="hideMe" class="alert alert-danger mt-3">
    <p>{{loginErr}}</p>
</div>
{{/if}}

{{#if subject}}
<h2>Your subject is: {{subject.Program}}</h2>
{{/if}}


<script>
    function hideParagraph() {
        var paragraph = document.getElementById("hideMe");
        paragraph.style.display = "none";
    }

    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(hideParagraph, 5000);
    });
</script>